<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- <config> -->
    <!-- <add key=" repositoryPath" value="//iacadfilesrv/IACAD Shares/Development Team/NuGet Packages" /> -->
  <!-- </config> -->
  <!-- <packageSources> -->
    <!-- <add key="Internal" value="\\iacadfilesrv\IACAD Shares\Development Team\NuGet Packages\" /> -->
  <!-- </packageSources> -->
  
  
  <!-- <solution> -->
    <!-- <add key="disableSourceControlIntegration" value="true" /> -->
  <!-- </solution> -->
  <config>
    <add key="repositoryPath" value="\\iacadfilesrv\IACAD Shares\Development Team\NuGet Packages" />
  </config>
	
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <add key="Internal" value="\\iacadfilesrv\IACAD Shares\Development Team\NuGet Packages" />
  </packageSources>

  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  
</configuration>